	<div class="footer">

		<div class="author">${event.generator or '?'}</div>

		<i class="text-muted fa fa-angle-double-right"></i>

		{% compact %}
		<div class="author">

		{%- if link_to_stream %}<a href="${event.stream.url}">{% endif %}

		${event.stream.title}

		{% if link_to_stream %}</a>{% endif %}

		</div>
		{% end-compact %}
			
		<div class="stats pull-right">
			<a href="{% url 'event' with event_id=event.uuid %}#comments">
				{% if event.numcomments %}
				<i class="fa fa-comment"></i> ${event.numcomments}
				{% endif %}
			</a>

        </div>
	</div>