	<div class="footer">

		<div class="author">${event.generator}</div>

		{%- if link_to_stream %}
		<i class="text-muted fa fa-angle-double-right"></i>

		<div class="author"><a href="{% url 'stream' with stream_id=event.stream.uuid %}">${event.stream.title}</a></div>
		{%- endif %}
			
		<div class="stats pull-right">
			<a href="{% url 'event' with event_id=event.uuid %}#comments">
				{% if event.numcomments %}
				<i class="fa fa-comment"></i> ${event.numcomments}
				{% endif %}
			</a>

        </div>
	</div>