<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            <a data-toggle="collapse" href="#filter-hashtags" aria-expanded="false" class="collapsed">
                Filter by Hashtag
                <i class="fa fa-caret-up pull-right"></i>
            </a>
        </h6>
    </div>
    <div id="filter-hashtags" class="panel-collapse collapse out" aria-expanded="true">
        <div class="panel-body">
            <input name="hashtags" class="filter-hashtags form-control input-block-level" placeholder="Enter hashtag(s)" />
        </div>
    </div>
</div>