body.timeline-view
{
    /*background-color:#E5E9ED;*/
}

/*
.card
{
    border-radius:4px;
    background-color:#fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    margin:8px 0px;
    overflow:hidden;

    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.card .content
{
    padding: 10px 20px 20px;
}

.card .footer
{
    border-top:1px solid #E5E9ED;
    margin-top:8px;
}

.card img.content-image
{
    width:100%;
}

.new-event
{
	transform: perspective(600px) rotateX(90deg);
    opacity: 0;
	transition: transform 1s, opacity 1s;
}
*/

/*
.stream-info
{
    background-image:url(/static/timeline-media/img/img1.jpg);
}*/

.body-content
{
    box-sizing: border-box;
    margin-top:90px;
    min-height:calc(100vh - 216px - 90px);
}

.timelines
{
    margin-top:60px;
}

.card.event
{
    margin-bottom:12px;
}

.card
{
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.new-event
{
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.section.event-view
{
    overflow:hidden;
    background: linear-gradient(135deg, rgba(72,131,220,0.85) 0%, #943bea 100%);
}

.timeline-container .card .image
{
    height:auto;
}

.subscribe-button .btn
{
    display:none;
}

.subscribe-button.subscribed .btn-unsubscribe
{
    display:inline;
}

.subscribe-button.unsubscribed .btn-subscribe
{
    display:inline;
}

.event-view .card
{
    margin-top:20px;
}

.moya-comment-form-editor ul.nav
{
    margin-bottom:16px;
}

.moya-comment-reply-form
{
    margin-top:20px;
}

pre
{
    background: #f8f8f8 !important;
    overflow-x:auto;
    border:none;
    padding:2px;
    margin-top:0px;
    margin-bottom:16px;
    font-size:13px;
    box-sizing: border-box;
    font-family:monospace;
}



pre code.hljs
{
    background: #f8f8f8 !important;
    float:left;
    min-width:100%;
    display:inline-block;
    white-space:pre;

    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
    font-family:monospace;

}

pre code.hljs *
{
    white-space:pre;
}

.moya-comments-admin
{
    margin-bottom:20px;
}

.moya-comments .media, .media-body
{
    overflow: visible
}

.title-link:hover h4.title
{
    color: #2ca8ff !important;
}

.nav-open .nav.navbar-nav, .nav-open .nav.navbar-nav ul.dropdown-menu
{
    overflow:hidden;
}

@media (min-width: 992px) {
    .stream-info
    {
        position:fixed;
        width:220px;
    }  

}

@media (min-width:1200px) {

    .stream-info
    {
        position:fixed;
        width:270px;
    }    
}

.stream-info .card-user .content
{
    min-height: auto;
}



.card .image-container
{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    overflow:hidden;
}

.card .image-container img
{
    width:100%;
}