.login input::-moz-placeholder
{
    color:#999;
}

.login input:-ms-input-placeholder
{
    color:#999;
}

.login input:-moz-placeholder
{
    color:#999;
}

.login input:placeholder
{
    color:#999;
}

.login input::-webkit-input-placeholder
{
    color:#999;
}

.login .modal-content
{
    padding:6px;
}

#iothing-front .section-titles
{
    min-height: 450px;
    height: 75vh;
    background-size:cover;
    background-position:center center;
    background: linear-gradient(135deg, rgba(72,131,220,0.85) 0%, #943bea 100%);
    position:relative;
}


#iothing-front .titles
{
    font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
    text-align: center;
    color:#fff;
    margin:0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;

}

#iothing-front .navbar-transparent .navbar-header
{
    padding-bottom:15px !important;
}

#iothing-front .titles p
{
    font-size:150%;
}

#iothing-front .sign-in-links
{
    margin-top:60px;
}

#iothing-front .btn-social
{
    margin:8px;
}

form.form-horizontal label.checkbox
{
    padding-top:0px
}

.login .social .circle .fa
{
    vertical-align: middle;
}

html
{
    background-color: #eee;
}

body
{
    overflow-x:hidden;
}

*:focus {
    outline: none;
}

.margin-bottom-20
{
    margin-bottom:20px;
}

.margin-top-20
{
    margin-top:20px;
}

.body-content
{
    box-sizing: border-box;
    margin-top:70px;
    min-height:calc(100vh - 216px - 70px);
}

.modal-wide
{
    width:80%;
}

.card.event
{
    margin-bottom:12px;
}

.card.event
{
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.event.new-event
{
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}


.fade-event
{


    opacity:0;
    transition: opacity 0.2s;
}

.section.event-view
{
    overflow:hidden;
    background: linear-gradient(135deg, rgba(72,131,220,0.85) 0%, #943bea 100%);
}

#timeline-view .section-stream
{
    background: linear-gradient(135deg, rgba(72,131,220,0.85) 0%, #943bea 100%);
}

.timeline-container .card .image
{
    height:auto;
}

.subscribe-button .btn
{
    display:none;
}

.subscribe-button.subscribed .btn-unsubscribe
{
    display:inline;
}

.subscribe-button.unsubscribed .btn-subscribe
{
    display:inline;
}

.event-view .card
{
    margin:0px;
}

.moya-comment-form-editor ul.nav
{
    margin-bottom:16px;
}

.moya-comment-reply-form
{
    margin-top:20px;
}

pre
{
    background: #f8f8f8 !important;
    overflow-x:auto;
    border:none;
    padding:2px;
    margin-top:0px;
    margin-bottom:16px;
    font-size:13px;
    box-sizing: border-box;
    font-family:monospace;
}



pre code.hljs
{
    background: #f8f8f8 !important;
    float:left;
    min-width:100%;
    display:inline-block;
    white-space:pre;

    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
    font-family:monospace;

}

pre code.hljs *
{
    white-space:pre;
}

.moya-comments-admin
{
    margin-bottom:20px;
}

.moya-comments .media, .media-body
{
    overflow: visible
}

.title-link:hover h4.title
{
    color: #2ca8ff !important;
}

.nav-open .nav.navbar-nav, .nav-open .nav.navbar-nav ul.dropdown-menu
{
    overflow:hidden;
}


    .new-events
    {
        position:absolute;
        top:90px;
    }



/*
@media (min-width: 992px) {
    .stream-info
    {
        position:fixed;
        width:220px;
    }

}

@media (min-width:1200px) {

    .stream-info
    {
        position:fixed;
        width:270px;
    }
}
*/

.stream-info .card-user .content
{
    min-height: auto;
}

.stream-info .card-user .image-plain
{
    margin-top:60px;
}


.stream-info .with-image
{
    margin-top:60px;
}

#event-info .btn-social
{
    margin:0px;
    padding:0px;
}

.card .image-container
{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    overflow:hidden;
}

.card .image-container img
{
    width:100%;
}

.previous-event
{
    height:100px;

    overflow:hidden;
    position:relative;
}

.previous-event .event
{
    width:100%;
    position:absolute;
    bottom:0px;
}

.next-event
{
    height:100px;

    overflow:hidden;
}

.next-evet .event
{
    margin-top:0px;
}

.event-triplet .card
{
    margin-top:4px;
    margin-bottom:4px;
}

.event-preview
{
    width:500px;
    transform: scale(0.5, 0.5);
    position:relative;
    right:0px;
    z-index:10;
}


.comment-image
{
    float:left;
}

.comment-body
{
    margin-left:78px;

}

.more-events
{
    visibility:hidden;
}

.more-events.loading
{
    visibility:visible;
}

.new-events
{
    text-align:center;
    padding:12px;
    background-color:#ff9500;
    color:#fff;
    border-radius:3px;
    position:fixed;
    z-index:10;
    width:auto%;
    cursor: pointer;
    margin:8px;
}

.new-events
{
    opacity:0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0.5s;
}

.new-events.pending-events
{
    opacity:1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.3s;
}

.event-content
{
    max-height:300px;
    overflow-y:hidden;
    padding-right:12px;
    transition:height 3s;
}

#event-view .event-content
{
    max-height:inherit;
}

.event-content.expanded
{
    max-height:none;
    transition:height 3s;
}

.expand-card
{
    display:none;
}

.expand-card.expandable
{
    display:block;
}

.expand-card .more
{
    display:block;
    padding:8px 0px 16px 0px;
}

.expand-card .less
{
    display:none;
    padding:8px 0px 16px 0px;
}

.event-content.expanded + .expand-card .more
{
    display:none;
}

.event-content.expanded + .expand-card .less
{
    display:block;
}


.subscribe-control .subscribed
{
    color:#FF9500;
    opacity:0.5;
    cursor:pointer;
}

.subscribe-control .not-subscribed
{
    color:#999;
    cursor:pointer;
}

.subscribe-control.subscribed .not-subscribed
{
    display:none;
}

.subscribe-control.unsubscribed .subscribed
{
    display:none;
}

/*
.stream-info .title
{
    margin-left:20px;
    margin-right:20px;
}
*/

.stream-actions-button .btn
{
    border:0px;
}

.stream-actions-button
{
    float:left;
    position:absolute;
}

.dash-streams .card
{
    height:130px;
}

.form-group:last-child
{
    margin-bottom:0px;
}

.stream-icon
{
    width:32px;
    height:32px;
    border-radius:100%;
}

.stream-card
{
    margin-top:70px;
}

.stream-card:last-child
{
    margin-bottom:0px;
}

.stream-info-footer
{
    margin:-20px 15px 10px 15px;
    padding:15px 15px 0px 15px;
    border-top:1px solid #e8e8e8;
}

.stream-info-footer a.btn-social
{
    padding-top:0px;
    opacity:0.5;
}

.stream-info-footer:hover a.btn-social
{
    opacity:1;
}

.panel-group:last-child .panel
{
    border-bottom:none;
}

#list-stream-cards
{
    display:none;
}

#list-stream-cards.show
{
    display:inline-block;
}

#list-stream-cards
{
    margin-bottom:20px;
}

.event.no-text h4.title
{
    /* margin-bottom:0px; */
}

.event.event-priority-informative, .event.event-priority-verbose
{
    background-color:rgba(255, 255, 255, 0.85);
}

.event p.category
{
    margin-bottom:10px;
}

.card .footer
{
    clear:both;
}

a.hashtag
{
   font-weight:bold;
}

.stream-image .avatar
{
    margin-right:0px;
}
