body.timeline-view
{
    /*background-color:#E5E9ED;*/
}

/*
.card
{
    border-radius:4px;
    background-color:#fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    margin:8px 0px;
    overflow:hidden;

    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.card .content
{
    padding: 10px 20px 20px;
}

.card .footer
{
    border-top:1px solid #E5E9ED;
    margin-top:8px;
}

.card img.content-image
{
    width:100%;
}

.new-event
{
	transform: perspective(600px) rotateX(90deg);
    opacity: 0;
	transition: transform 1s, opacity 1s;
}
*/

/*
.stream-info
{
    background-image:url(/static/timeline-media/img/img1.jpg);
}*/

.timelines
{
    margin-top:60px;
}

.card.event
{
    margin-bottom:12px;
}

.card
{
    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

.new-event
{
    transform: perspective(600px) rotateX(90deg);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.timeline-container .card .image
{
    height:auto;
}

.subscribe-button .btn
{
    display:none;
}

.subscribe-button.subscribed .btn-unsubscribe
{
    display:inline;
}

.subscribe-button.unsubscribed .btn-subscribe
{
    display:inline;
}

.event-view .card
{
    margin-top:20px;
}

.moya-comment-form-editor ul.nav
{
    margin-bottom:16px;
}

.moya-comment-reply-form
{
    margin-top:20px;
}

pre
{
    background: #f8f8f8 !important;
    overflow-x:auto;
    border:none;
    padding:2px;
    margin-top:0px;
    margin-bottom:16px;
    font-size:13px;
    box-sizing: border-box;
    font-family:monospace;
}



pre code.hljs
{
    background: #f8f8f8 !important;
    float:left;
    min-width:100%;
    display:inline-block;
    white-space:pre;

    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
    font-family:monospace;

}

pre code.hljs *
{
    white-space:pre;
}

/*
.stream-info
{
    position:fixed;
}
*/