
{% let can_manage=stream|'can_manage_stream' %}


    <div class="user">




        <div {% if can_manage %} title="Click to change photo" data-toggle="tooltip"{% endif %}>

                {% if can_manage %}
                <a href="#" onclick="event.preventDefault(); $('#img_modal').modal(); return false;">
                {% endif %}

                    <div class="photo">
                        {% if stream.image %}
                        <img src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
                        {% else %}
                        <img  src="{% media 'img/defaultstream.jpg' %}" alt="...">
                        {% endif %}
                    </div>

                {% if can_manage %}
                </a>
                {% endif %}
        </div>

        {% if stream.description %}
        <p class="info">
            ${stream.description}
        </p>
        {% endif %}

        {% if stream.user %}
        <p class="description text-center">
            <a title="View ${stream.user.username}'s streams" data-toggle="tooltip" href="{% url 'user_streams' with username=stream.user.username %}"><i class="fa fa-male"></i> ${stream.user.username}</a>
        </p>
        {% endif %}

        {% if stream %}
        <div class="text-center">
            {% if .user %}
            <div data-stream="${stream.uuid}" {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
                <input class="btn btn-round btn-primary btn-subscribe" type="button" value="Subscribe" title="Click to subscribe" data-toggle="tooltip" data-placement="bottom"/>
                <input class="btn btn-round btn-fill btn-success btn-unsubscribe" type="button" value="Subscribed" title="This stream will be shown in your timeline" data-toggle="tooltip" data-placement="bottom"/>
            </div>
            {% else %}
            <a class="btn btn-primary sign-in-link" data-fwd="${.request.url}" href="{% url 'login' from 'moya.auth' %}?${urlencode:(fwd=.request.url)}">Subscribe</a>
            {% endif %}
        </div>
        {% end-if %}

    </div>

    <div class="card-refine">
        <div class="panel-group card-refine">
            {% include "fragments/filter/event_type.html" %}
            {% include "fragments/filter/hashtag.html" %}
        </div>
    </div>

    <div class="stream-info-footer text-center">
        {% with title=stream.title %}{% include "fragments/social.html" %}{% endwith %}
    </div>


