<div class="card card-user with-image">

    <div class="content">

        {% if stream|'can_manage_stream' %}
        <div class="btn-group stream-actions-button">
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-wrench text-info"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#code_modal">
                <i class="fa fa-code"></i> Get the Code!</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" onclick="event.preventDefault(); $('#stream-edit').fadeIn(); return false;"><i class="fa fa-edit"></i> Edit</a>
            </li>
            <li>
                <a href="{% url 'new_stream' %}"><i class="fa fa-star"></i> New</a>
            </li>
          </ul>
        </div>
        {% endif %}

        <div class="author">
            {% if stream|'can_manage_stream' %}
            <a href="#" onclick="event.preventDefault(); $('#img_modal').modal(); return false;">
                {% if stream.image %}
                <img class="avatar" src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
                {% else %}
                <img class="avatar" src="/static/stream.jpg" alt="...">
                {% endif %}
            </a>
            {% else %}
            {% if stream.image %}
                <img class="avatar" src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
                {% else %}
                <img class="avatar" src="/static/stream.jpg" alt="...">
                {% endif %}
            {% endif %}
            <h4 class="title">
                <a href="{% url 'user_streams' with username=stream.user.username %}">${stream.user.username}</a> <span class="text-muted">/</span> ${stream.title}
            </h4>
           
        </div>

        <p class="description text-center">
            ${stream.description}
        </p>

        {% if stream %}
        <div class="text-center">
            {% if .user %}
            <div data-stream="${stream.uuid}" {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
                <input class="btn btn-round btn-primary btn-subscribe" type="button" value="Subscribe" title="Click to subscribe" data-toggle="tooltip" data-placement="bottom"/>
                <input class="btn btn-round btn-fill btn-success btn-unsubscribe" type="button" value="Subscribed" title="This stream will be shown in your timeline" data-toggle="tooltip" data-placement="bottom"/>
            </div>
            {% else %}
            <a class="btn btn-primary" onclick="$('#login_modal').modal();return false;" href="{% url 'login' from 'moya.auth' %}?${urlencode:(fwd=.request.url)}">Subscribe</a>
            {% endif %}
        </div>
        {% end-if %}
        
    </div>

    <div class="card-refine">
        <div class="panel-group card-refine">
            {% include "fragments/filter/event_type.html" %}
        </div>
    </div>
    
</div>




