
{% let can_manage=stream|'can_manage_stream' %}
<div class="card card-user with-image">

    <div class="content">

        {% if can_manage %}
        <div class="btn-group stream-actions-button">
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-wrench text-info"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#code_modal">
                <i class="fa fa-code"></i> Get the Code!</a>
            </li>
            {% if stream.user %}
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" onclick="event.preventDefault(); $('#stream-edit').fadeIn(); return false;"><i class="fa fa-edit"></i> Edit stream</a>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault(); $('#img_modal').modal(); return false;"><i class="fa fa-photo"></i> Change photo</a>
            </li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li>
                <a href="{% url 'new_stream' %}"><i class="fa fa-star"></i> New stream</a>
            </li>
          </ul>
        </div>
        {% elif not stream.password %}
        <div class="btn-group stream-actions-button">
          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-wrench text-info"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#code_modal">
                <i class="fa fa-code"></i> Get the Code!</a>
            </li>
          </ul>
        </div>
        {% endif %}


        {% include "fragments/card/stream_image.html" %}

        <p class="description text-center text-muted">
            ${stream.description}
        </p>

        {% if stream.user %}
        <p class="description text-center">
            <a title="View ${stream.user.username}'s streams" data-toggle="tooltip" href="{% url 'user_streams' with username=stream.user.username %}"><i class="fa fa-male"></i>${stream.user.username}</a>
        </p>
        {% endif %}

        {% if stream %}
        <div class="text-center">
            {% if .user %}
            <div data-stream="${stream.uuid}" {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
                <input class="btn btn-round btn-primary btn-subscribe" type="button" value="Subscribe" title="Click to subscribe" data-toggle="tooltip" data-placement="bottom"/>
                <input class="btn btn-round btn-fill btn-success btn-unsubscribe" type="button" value="Subscribed" title="This stream will be shown in your timeline" data-toggle="tooltip" data-placement="bottom"/>
            </div>
            {% else %}
            <a class="btn btn-primary sign-in-link" data-fwd="${.request.url}" href="{% url 'login' from 'moya.auth' %}?${urlencode:(fwd=.request.url)}">Subscribe</a>
            {% endif %}
        </div>
        {% end-if %}

    </div>

    <div class="card-refine">
        <div class="panel-group card-refine">
            {% include "fragments/filter/event_type.html" %}
            {% include "fragments/filter/hashtag.html" %}
        </div>
    </div>

    <div class="stream-info-footer text-center">
        {% with title=stream.title %}{% include "fragments/social.html" %}{% endwith %}
    </div>

</div>




