<div class="card card-refine">
    <div class="header">
        <h4 class="text-center title">
            Timeline
        </h4>
        <p class="description text-center">
            {%- compact %}
            {% with count=len:subscriptions %}
            {% if count == 0 %}
                No subscriptions
            {% elif count == 1 %}
                1 subscription
            {% else %}
                ${count} subscriptions
            {% endif %}
            {% end-with %}
            {%- end-compact %}
        </p>
    </div>
    <div class="content">
        <div class="panel-group">
            {% include "fragments/filter/event_type.html" %}
        </div>
    </div>
</div>
