
<div class="card card-refine">
    <div class="header">
        {% if owner == .user %}
        <div class="btn-group stream-actions-button">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-wrench text-info"></i>
            </button>
            <ul class="dropdown-menu">
            <li>
                <a href="#" onclick="event.preventDefault(); $('#account-edit').fadeIn(); return false;">
                    <i class="fa fa-edit"></i> Account Info
                </a>
            </li>
            <li>
                <a href="{% url 'user_edit' from 'moya.auth' %}">
                    <i class="fa fa-toggle-on"></i> Settings
                </a>
            </li>
            <li>
                <a href="{% url 'new_stream' %}">
                    <i class="fa fa-star"></i> New Stream
                </a>
            </li>
            <li class="divider"/>
            <li>
                <a href="{% url 'logout' from 'moya.auth' %}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
            </li>
          </ul>
        </div>
        {% end-if %}
        <div class="pull-right">

            <div class="switch switch-cards" data-toggle="tooltip" title="Show stream cards?"
                data-on-label="<i class='fa fa-check'></i>"
                data-off-label="<i class='fa fa-times'></i>">
                <input type="checkbox"/>
            </div>

        </div>
        <h4 class="text-center title" style="clear:both">
            ${owner.username}'s streams
        </h4>
        <p class="description text-center">
            ${owner.account.about}
        </p>
    </div>
    <div class="content">
        <div class="panel-group">
        {%- if len:streams gt 1 %}
            {% include "fragments/filter/stream_id.html" %}
        {%- end-if %}
            {% include "fragments/filter/event_type.html" %}
            {% include "fragments/filter/hashtag.html" %}
        </div>
     </div>
    <div class="stream-info-footer text-center">
        {% with title=stream.title %}{% include "fragments/social.html" %}{% endwith %}
    </div>
</div>
