
<div class="col-sm-4">

	<div class="card">
	
		<div class="content">
			<a class="card-link title-link" href="${stream.url}">
				{% if stream.image.file %}
				<img class="avatar pull-left" src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
				{% endif %}
				<h4 class="title">${stream.title}</h4>
			</a>
			<p class="description">
				${stream.description}
			</p>
		</div>
	
	</div>



	<div class="card card-refine">
	    <div class="header">
	        <div class="btn-group stream-actions-button">
	          <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            <i class="glyphicon glyphicon-wrench text-info"></i>
	          </button>
	          <ul class="dropdown-menu">
	            <li>
	                <a href="{% url 'new_stream' %}">
	                    <i class="fa fa-star"></i> New Stream
	                </a>
	            </li>
	          </ul>
	        </div>
	        <h4 class="text-center title">
	            ${owner.display_name}'s streams
	        </h4>
	    </div>
	    <div class="content">

	        <div class="panel-group">

	            {% include "fragments/filter/stream_id.html" %}

	            {% include "fragments/filter/event_type.html" %}

	        </div>

	     </div>

	</div>
	
</div>
