<table class="table-condensed" style="margin-bottom:0px;">
    <tr>

        <td>
            {% children %}
            <small class="text-muted">Images should be < 2MB and at least 400x400 pixels</small>
        </td>

        <td style="vertical-align: top; padding-left:8px;">
            <h6>Stream Image</h6>
            <p>
                <small>
                    The stream image will be shown on your stream card, and is visible to all users who can view your stream.
                </small>
            </p>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-times text-danger"></i> Nudity
                <li>
                <li>
                    <i class="fa fa-times text-danger"></i> Obscene
                <li>
                <li>
                    <i class="fa fa-times text-danger"></i> Illegal
                <li>
                <li>
                    <i class="fa fa-check text-success"></i> Cats
                <li>
                <li>
                    <i class="fa fa-check text-success"></i> Raspberry PIs
                <li>
                <li>
                    <i class="fa fa-check text-success"></i> Toasters
                <li>
            </ul>

        </td>
        
    </tr>
</table>