{%- cache for 24h key [new_event, event.uuid, event.numcomments, event.update, link_to_stream, link_title] -%}
{% compact %}

<li id="event-${event.uuid}"
{% attrib class=['timeline-inverted', 'event', 'event-priority-' + event.priority_name, 'event-' + event.type, new_event ? 'new-event' : None, event.text ? None : 'no-text'] %}
data-type="${event.type}" data-update="${event.update}" data-order="${event.id}" data-time="${round:[event.insert_seconds, 6]}" data-pk="${event.id}">
{% end-compact %}

    {% let badge_image=event.stream.image ? event.stream.image.file|'thumbnail'(processor='stream_info') : None %}


    <a href="${event.stream.url}" {% attrib class=['timeline-badge', badge_image ? 'with-image' : 'info'] %} class="timeline-badge info" data-toggle="tooltip" title="${event.stream.description}" {% if badge_image %} style="background-image:url(${badge_image});"{% endif %}>
        {% if not badge_image %}<i class="material-icons">fingerprint</i>{% endif %}
    </a>

	{%- emptyblock "content" -%}

</li>
{%- endcache %}
