{%- cache for 24h key [event.uuid, event.update, link_to_stream, link_title] -%}
{% compact %}
<div id="event-${event.uuid}"
{% attrib class=['card', 'event', 'event-priority-' + event.priority_name, 'event-' + event.type, new_event and 'new-event', event.text ? None : 'no-text'] %}
data-type="${event.type}" data-update="${event.update}" data-order="${event.id}" data-time="${round:[event.insert_seconds, 6]}" data-pk="${event.id}">
{% end-compact %}
	{# {% if .debug %}<small>${event.id} ${event.insert_seconds}</small>{% endif %} #}
	{%- emptyblock "content" -%}
</div>
{%- endcache %}
