
<div class="card card-user" style="position:absolute;width:160px;">
    <div class="content">
        <div class="author">
            <a href="#" onclick="event.preventDefault(); $('#img_modal').modal(); return false;">
                {% if stream.image %}
                <img class="avatar" src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
                {% else %}
                <img class="avatar" src="/static/stream.jpg" alt="...">
                {% endif %}
            </a>
            <h4 class="title">
                <a href="#">${stream.title}</a>
            </h4>
        </div>
        <p class="description text-center">
            ${stream.description}
        </p>
    </div>
</div>
