<div class="card">
    <div class="content">

        <p class="category">Introduction</p>
        <h4 class="title">Let's create some Streams!</h2>

        {% markup-block as 'markdown' %}

A stream is a place on the web for your creations.

You can post events from any Internet enabled device, with virtually any language.

        {% end-markupblock %}

        <p class="text-center">
            <a href="{% url 'new_stream' %}" class="btn btn-xlg btn-fill btn-round btn-info">New Stream</a>
        </p>

    </div>
</div>