
<div class="card">
    <div class="content">

        <p class="category text-warning"><i class="fa fa-info-circle"></i> no subscriptions</p>
        <h4 class="title">Welcome, ${.user.display_name}!</h4>

        {% markup-block as 'markdown' %}

You don't have any subscriptions yet.

If you find a stream you like, subscribe to it, and the events will appear here.

See **[#helloworld](${.urls.timeline.tag_stream(tag_slug='helloworld')})** for freshly minted streams.


        {% end-markupblock %}


    </div>
</div>