
<div class="card" id="unclaimed-stream">
    <div class="card-content">

        <button type="button" class="close hide-button" data-hide="#unclaimed-stream" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <p class="category text-warning"><i class="fa fa-info-circle"></i> unclaimed stream</p>
        <h4 class="title">Claim this Stream?</h2>

        {% markup-block as 'markdown' %}

Until this stream is claimed, anyone may <a href="#" data-toggle="modal" data-target="#code_modal">post events</a> to it.

        {% end-markupblock %}

        <p class="text-center">
            <a href="{% url 'stream_claim' with stream_id=stream.uuid %}" class="sign-in-link btn btn-xlg btn-fill btn-round btn-info btn-primary">
                 Claim Stream
            </a>
        </p>

    </div>
</div>