

        <div class="text-right margin-bottom-20">
            {% if older %}
            <a title="${older.title}" data-placement="bottom" data-toggle="tooltip" class="previous-event" href="{% url "showpost" with slug=older.slug %}">
                <i class="fa fa-chevron-left"></i>
            </a>
            {% endif %}
            {% if newer %}
            <a title="${newer.title}" data-placement="bottom" data-toggle="tooltip" class="next-event" href="{% url "showpost" with slug=newer.slug %}">
                <i class="fa fa-chevron-right"></i>
            </a>
            {% endif %}
        </div>



<div class="card event">

    <div class="content">

        <p class="category pull-right" title="${localize:event.time}" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-clock-o"></i> {% if post.published_date %}${localize:(.now - post.published_date)} ago{% endif %}
        </p>

        <p class="category text-active">
            <i class="fa fa-newspaper-o"></i> News
        </p>
        <h4 class="title">
        {%- if linktitle %}
        <a href="{% url "showpost" with slug=post.slug %}">${post.title}</a>
        {%- else %}
        ${post.title}
        {%- endif %}
       
        {% if not post.published %}<small><span class="label text-sm label-warning">Un-published</span></small>{% endif %}

        </h4>

        {% cache for 1d key [post.id, post.updated_date, post.published_date] %}
        {% markup post.content as self.app.settings.default_markup %}
        {% endcache %}

        <div class="author">

        </div>

        {% if numcomments %}
        <div class="stats text-right">
            <i class="fa fa-comment"></i> ${numcomments}
        </div>
        {% endif %}

    </div>
</div>

    