	<div class="card-footer">
		<div class="author">${event.generator or '?'}</div>
		<i class="text-muted fa fa-angle-double-right"></i>
		{%- compact %}
		<div class="author">
		{%- if link_to_stream %}<a href="${event.stream.url}">{% endif %}
			${event.stream.title}
		{% if link_to_stream %}</a>{% endif %}
		</div>
		{%- end-compact %}

		<div class="stats pull-right">
			{%- if event.numcomments %}
			<a href="{% url 'event' with event_id=event.uuid %}#comments">
				<i class="fa fa-comment"></i> ${event.numcomments}
			</a>
			{%- endif %}
        </div>
	</div>