
        <div class="info">
            ${stream.title}
        </div>

        <div {% if can_manage %} title="Click to change photo" data-toggle="tooltip"{% endif %}>

                {% if can_manage %}
                <a href="#" onclick="event.preventDefault(); $('#img_modal').modal(); return false;">
                {% endif %}

                    <div class="photo">
                        {% if stream.image %}
                        <img src="${stream.image.file|'thumbnail'(processor='stream_info')}" alt="...">
                        {% else %}
                        <img  src="{% media 'img/defaultstream.jpg' %}" alt="...">
                        {% endif %}
                    </div>

                {% if can_manage %}
                </a>
                {% endif %}
        </div>

