{% extends "../stream/card.html" %}

{% block "content" %}
<div class="content">
{# common components to event card #}
{%- include "fragments/card/header.html" -%}
{%- include "fragments/card/priority.html" -%}
{%- include "fragments/card/title.html" -%}

{%- if event.text %}
<div class="event-content">
{%- include "fragments/card/description.html" -%}
    <pre><code class="language-${event.code_language}">${strip:event.text}</code><pre>
</div>
{%- endif %}

{%- include "fragments/card/expand.html" %}
{%- include "fragments/card/footer.html" %}
</div>
{% endblock %}
