{% extends "../stream/card.html" %}



{% block "content" %}
<div class="timeline-panel">

    <div class="timeline-heading">
        <span class="label label-danger">${event.title}</span>
    </div>

    {% if event.image %}
    <div class="timeline-content">
        {%- if link_title %}
        <a href="{% url 'event' with event_id=event.uuid %}">
            <img src="${event.image.path|'thumbnail'(processor='large')}" />
        </a>
        {%- else %}
        <img src="${event.image.path|'thumbnail'(processor='large')}" />
        {%- endif %}
        {% include "fragments/card/common.html" %}
    </div>
    {% endif %}

    {%- include "fragments/card/footer.html" %}
</div>

{% end-block %}
