{% extends "../card.html" %}

{% block "content" %}
<div class="content">
    <p class="category text-danger">
        <i class="fa fa-fire" rel="tooltip" title="" data-original-title="Hot!"></i>
    </p>
    <a class="card-link" href="{% url 'event' with event_id=event.uuid %}">
        <h4 class="title">${event.title}</h4>
    </a>
	<div class="description">
	{% markup event.text as event.markup %}
	</div>
	<div class="footer">
		<div class="author">Raspberry Pi</div>
		<div class="stats pull-right">
            <i class="fa fa-clock-o"></i> ${localize:(.now - event.time)} ago
        </div>
	</div>
</div>
{% endblock %}
