<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block "title" %}${title}{% end %}</title>

    {% block "includecss" %}{% render include.css %}{% end %}
    {% block "css" %}{% render sections.css %}{% end %}

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300" rel="stylesheet" type="text/css">

    <link href="{% media 'css/bootstrap.min.css' from 'timeline' %}" rel="stylesheet" type="text/css">
    <link href="{% media 'css/gsdk.css' from 'timeline' %}" rel="stylesheet" type="text/css">
    <link href="{% media 'css/pe-icon-7-stroke.css' from 'timeline' %}" rel="stylesheet" type="text/css">
    <link href="{% media 'css/timeline.css' from 'timeline' %}" rel="stylesheet" type="text/css">
    <link href="{% media 'highlight/styles/github.css' from 'timeline' %}" rel="stylesheet" type="text/css">

    {% block "jshead" %}{% render sections.jshead %}{% end %}
    {% block "head" %}{% render sections.head %}{% end %}

</head>

<body id="${config.page_id or 'timeline-view'}" {% data-attrib config or {} %}>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      {%- if .permissions.admin %}
      <div class="btn-group moya-admin-menu pull-left" style="margin-right:1em;">
        <button class="btn btn-sm btn-round btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Admin menu">
          <i class="glyphicon glyphicon-wrench"></i>
      </button>
        <ul class="dropdown-menu">
          {%- for renderable in sections.admin_links %}
          {%- if renderable.url -%}
          <li>{% render renderable %}</li>
          {%- else %}
          <li class="divider"/>
          {%- endif %}
          {%- endfor %}
          {% if .apps.admin %}
          {%- if sections.admin_links %}
          <li class="divider"/>
          {%- endif %}
          <li><a href="{% url 'front' from 'admin' %}">Moya Admin</a></li>
          {% endif %}
        </ul>
      </div>
      {%- endif %}

      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">inthing.io</a>

    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#"><i class="fa fa-globe"></i> Discover</a>
        </li>

        {%- if .user %}
        <li{% if .urlname=='timeline' %} class="active"{% endif %}>
            <a href="{% url 'timeline' from 'willmcgugan.timeline' with username=.user.username %}">
                <i class="fa fa-user"></i> @${.user.username}
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Account
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'user_edit' from 'moya.auth' %}">
                  <i class="fa fa-toggle-on"></i> Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' from 'moya.auth' %}">
                  <i class="fa fa-sign-out"></i> Sign Out
                </a>

              </li>
            </ul>
        </li>
        {%- endif %}

        {% if not .user %}
        <li>
          <a href="{% url 'login' from 'moya.auth' %}?fwd=${.request.path}">
            <i class="fa fa-user"></i> Sign In
          </a>
        </li>
        {% endif %}

       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block "bodycontainer" %}
<div class="container body-content">
{% block "body" %}
<div class="margin-top-20">
{% render sections.body %}
</div>
{% endblock %}
<br>
{% endblock %}
</div>

{% block "footer" %}
{% include "footer.html" from "timeline" %}
{% endblock %}

  <script src="{% media 'js/jquery-1.10.2.js' from 'timeline' %}"></script>
  <script src="{% media 'js/bootstrap.min.js' from 'timeline' %}"></script>

{#
  <script src="{% media 'js/gsdk-checkbox.js' from 'timeline' %}"></script>
  <script src="{% media 'js/gsdk-radio.js' from 'timeline' %}"></script>
#}
  <script src="{% media 'js/get-shit-done.js' from 'timeline' %}"></script>

{% block "includejs" %}{% render include.js %}{% endblock %}
{% block "js" %}{% render sections.js unique %}{% endblock %}
{% block "jsfoot" %}{% render sections.jsfoot unique%}{% endblock %}

<body>
<html>
