<div id="mock-card-3" class="card event event-priority-default event-text new-event" style="display:none" data-type="text" data-update="0" data-order="24" data-time="1456015362.54" data-pk="24">

<div class="image-container">
    <img src="{% media 'img/front/brew.jpg' from 'timeline' %}" />
</div>

<div class="content">

    <p class="category pull-right" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Feb 21, 2016, 12:42:42 AM">
        <i class="fa fa-clock-o"></i> <span class="time-ago" data-time="1456015362">Just now</span>
    </p>



    <h4 class="title">Brew Started</h4>


    <div class="event-content">
        <p class="description">
            Your coffee is being made....
        </p>

    </div>

    <div class="footer">



        <div class="author">raspberrypi1</div>

        <i class="text-muted fa fa-angle-double-right"></i>

         <div class="author">COFFEE</div>

        <div class="stats pull-right">



        </div>
    </div>
</div>
</div>