<div id="event-043886c6-d834-11e5-a910-d43d7e932d68" class="card event event-priority-default event-text" data-type="text" data-update="0" data-order="24" data-time="1456015362.54" data-pk="24">
<div class="content">
    <p class="category pull-right" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Feb 21, 2016, 12:42:42 AM">
        <i class="fa fa-clock-o"></i> <span class="time-ago" data-time="1456015362">15 hours ago</span>
    </p>



        <h4 class="title">Espresso Maker Online!</h4>


    <div class="event-content">
        <p class="description">
    <span>Hello, World! <a class="hashtag" href="/tag/helloworld/">#helloworld</a></span>
    </p>



</div>
<a href="#" class="expand-card">
    <div class="more">
        <i class="fa fa-caret-down"></i>more
    </div>
    <div class="less">
        <i class="fa fa-caret-up"></i>less
    </div>
</a>
    <div class="footer">



        <div class="author">raspberrypi1</div>

        <i class="text-muted fa fa-angle-double-right"></i>

         <div class="author">COFFEE</div>

        <div class="stats pull-right">



        </div>
    </div>
</div>
</div>