<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block "title" %}${title}{% end %}</title>


    {% block "includecss" %}{% render include.css %}{% end %}
    {% block "css" %}{% render sections.css %}{% end %}
    {% block "jshead" %}{% render sections.jshead %}{% end %}
    {% block "head" %}{% render sections.head %}{% end %}

</head>

<body class="timeline-view" {% data-attrib config or {} %}>

{% block "body" %}
{% render sections.body %}
{% endblock %}

{% block "includejs" %}{% render include.js %}{% endblock %}
{% block "js" %}{% render sections.js unique %}{% endblock %}
{% block "jsfoot" %}{% render sections.jsfoot unique%}{% endblock %}

<body>
<html>
