{% data as filter_types %}
[
  ["image", "Images", "fa-camera"],
  ["meta", "Meta", "fa-info-circle"],
  ["text", "Text" ,"fa-file-text-o"]
]
{% end-data %}

<div class="card card-refine">

  <div class="header">
    <span class="category pull-right">
      {% include "controls/subscribe.html" %}
    </span>
            
    <h4 class="title text-center">${stream_title}</h4>

    
  </div>
  <div class="content">
    <div class="panel-group">


      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">
              <a data-toggle="collapse" href="#filter_types" class="collapsed">
                  Filter by Type
                  <i class="fa fa-caret-up pull-right"></i>
              </a>
          </h6>
        </div>

        <div id="filter_types" class="panel-collapse collapse out">
          <div class="panel-body">
          
          {% for type, type_label, icon in filter_types %}

            <label class="checkbox unchecked">
              <span class="icons">
                <span class="first-icon fa fa-square-o"></span>
                <span class="second-icon fa fa-check-square-o"></span>
              </span>
              <input type="checkbox" name="${type}" class="stream-filter" data-filter="${type}" value="" data-toggle="checkbox">
              {% if icon %}<i class="fa ${icon}"></i> {% endif %}${type_label}
            </label>

          {% endfor %}
          </div>

        </div>
      </div>

     


    </div>
  </div>

</div>
