<footer class="footer footer-big footer-black">
	<div class="container">

		<div class="row">

			<div class="col-md-3">
			</div>

			<div class="col-md-3">
			</div>

			<div class="col-md-3">
				<h5 class="title">Help and Support</h5>
				<nav>
					<ul>
						<a href="{% url 'showpage' with pagename='about' from 'pages' %}">About</a>
						<a href="{% url 'faqs' from 'faq' %}">FAQ</a>
						<a href="{% url 'feedback' from 'feedback' %}">Feedback</a>
						<a href="{% url 'showpage' with pagename='contact' from 'pages' %}">Contact</a>
					</ul>
				</nav>
			</div>

			<div class="col-md-3">
				<h5 class="title">Social</h5>
				<nav>
                    <ul>
                        <li>
                           <a href="https://twitter.com/willmcgugan" class="btn btn-social btn-twitter btn-simple">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>
                        {#
                        <li>
                            <a href="#" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>

                        <li>
                             <a href="#" class="btn btn-social btn-reddit btn-simple">
                                <i class="fa fa-google-plus-square"></i> Google+
                            </a>
                        </li>
                        #}

                    </ul>
                </nav>

			</div>
		</div>

		<div class="copyright">
            {# <a href="https://moyaproject.com" class="pull-right">Built with Moya</a> #}
			<div class="pull-left">
                &copy; 2016 Will McGugan
                &nbsp;
                Logo by Paulo Sá Ferreira from the Noun Project
            </div>
            
		</div>
	</div>
</footer>