            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com">inthing.io</a>
                    </p>
                </div>
            </footer>

{#
{% cache for 1h if not .debug %}
<footer class="footer footer-big footer-black">
	<div class="container">

		<div class="row">

            <div class="col-md-3">
                <img src="{% media 'img/thing.svg' from 'timeline' %}" width="auto" style="opacity:0.1;margin-bottom:1em;"/>
                <nav>
                    <ul class="list-unstyled text-muted">
                        <li>Logo by Paulo Sá Ferreira from the Noun Project</li>
                        <li><a href="https://moyaproject.com">Built with Moya</li>
                    </ul>
                </a>
            </div>

			<div class="col-md-3">
                <h5 class="title">News</h5>
                <nav>
                    <ul>
                    {% for news in recent_news %}
                    <li>
                        <a href="{% url 'showpost' from 'blog' with slug=news.slug %}">
                            ${news.title}
                        </a>
                    </li>
                    {% endfor %}
                    </ul>
                </nav>
			</div>

			<div class="col-md-3">
				<h5 class="title">Help and Support</h5>
				<nav>
					<ul>
						<a href="{% url 'showpage' with pagename='about' from 'pages' %}">About</a>
						<a href="{% url 'faqs' from 'faq' %}">FAQ</a>
						<a href="{% url 'feedback' from 'feedback' %}">Feedback</a>
						<a href="{% url 'showpage' with pagename='contact' from 'pages' %}">Contact</a>
					</ul>
				</nav>
			</div>

			<div class="col-md-3">
				<h5 class="title">Social</h5>
				<nav>
                    <ul>
                        <li>
                           <a href="https://twitter.com/willmcgugan">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>

                    </ul>
                </nav>

			</div>
		</div>


		<div class="copyright">
            {# &copy; 2016 Will McGugan #}
		</div>

	</div>
</footer>
{% end-cache %}
#}