{% extends "/base.html" %}

{% block "css" %}
<link rel="stylsheet" href="{% media 'css/logins.css' from 'moya.logins' %}" type="text/css"/>

{% endblock %}

{% block "navar" %}
<nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
      <img src="{% media 'img/thing.svg' from 'timeline' %}" width="32" class="pull-left" style="opacity:0.5;margin-right:1em;"/>
        inthing.io
      </a>

    </div>

    {% include "menu.html" from 'willmcgugan.timeline' %}

  </div><!-- /.container-fluid -->
</nav>
{% endblock %}


{% block "bodycontainer" %}
<div id="iothing-front" class="body-content" style="margin-top:0px;">

    <div class="section section-titles">
       
        <div class="titles">
            <div class="container">
                <h2>for <b>makers</b> and <b>sharers</b></h2>
                
                {% markup-block as 'markdown' %}
The **quickest** and **simplest** way to get your **devices** and **apps** online

Create and share *streams* of realtime events with our stupidly<sup>&trade;</sup> simple API

                {% end %}
                <div class="sign-in-links">

                    <a class="btn btn-social btn-github btn-fill btn-round" href="{% url 'login' from 'logins' with provider='github' query fwd=.urls.timeline.home %}">
                        <i class="fa fa-github"></i><span class="sign-in-text hidden-xs"> Sign in with GitHub</span>
                    </a>
                    <a class="btn btn-social btn-google btn-fill btn-round" href="{% url 'login' from 'logins' with provider='google' query fwd=.urls.timeline.home %}">
                        <i class="fa fa-google"></i><span class="sign-in-text hidden-xs"> Sign in with Google</span>
                    </a>
                    <a class="btn btn-social btn-facebook btn-fill btn-round" href="{% url 'login' from 'logins' with provider='facebook' query fwd=.urls.timeline.home %}">
                        <i class="fa fa-facebook"></i><span class="sign-in-text hidden-xs"> Sign in with Facebook</span>
                    </a>

                </div>
            </div>
        </div>

    </div>

    <div class="section">
        <div class="container">
            Streams
        </div>
    </div>

    <div class="section section-gray">
        <div class="container">

        Yadda Yadda

        </div>
    </div>
</div>
{% endblock %}

{% block "js" %}
<script>
$(function(){
    var start = new Date().getTime() / 1000.0;
    var $titles = $('#iothing-front .section-titles');
    var $window = $(window);
    function anim_background()
    {
        window.requestAnimationFrame(anim_background);

        var y = $window.scrollTop();
        if(y>100)
        {
            return;
        }

        var t = (new Date().getTime() / 1000.0) - start;
        var rotate = (t * 90) % 360;
        var background = 'linear-gradient(' + Math.round(rotate) + 'deg, rgba(72,131,220,0.85) 0%, #943bea 100%)';
        $titles.css('background', background);
    }
    /*setInterval(anim_background, 200);*/
    window.requestAnimationFrame(anim_background);

    var $nav = $('nav.navbar');
    $window.scroll(function(){
        var y = $window.scrollTop();
        if (y > 150)
        {
            $nav.removeClass('navbar-transparent');
        }
        else
        {
            $nav.addClass('navbar-transparent');
        }
    });
});
</script>
{% end-block %}
