
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">

      {%- if .permissions.admin %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-wrench"></i> Admin
            <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              {%- for renderable in sections.admin_links %}
              {%- if renderable.url -%}
              <li>{% render renderable %}</li>
              {%- else %}
              <li class="divider"/>
              {%- endif %}
              {%- endfor %}
              {% if .apps.admin %}
              {%- if sections.admin_links %}
              <li class="divider"/>
              {%- endif %}
              <li><a href="{% url 'front' from 'admin' %}">Moya Admin</a></li>
              {% endif %}
            </ul>
        </li>
      {%- endif %}


        <li>
            <a href="#"><i class="fa fa-globe"></i> Discover</a>
        </li>

        {%- if .user %}
        <li{% if menu == 'subscriptions' %} class="active"{% endif %}>
            <a href="{% url 'user_subscriptions' from 'willmcgugan.timeline' with username=.user.username %}">
              <i class="fa fa-bookmark-o"></i> Timeline
            </a>
        </li>
        <li{% if menu == 'user_streams' %} class="active"{% endif %}>
            <a href="{% url 'user_streams' from 'willmcgugan.timeline' with username=.user.username %}">
                <i class="fa fa-user"></i> ${.user.username}
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Account
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'dash' from 'willmcgugan.timeline' %}">
                  <i class="fa fa-dashboard"></i> Dashboard
                </a>
              </li>
              <li>
                <a href="{% url 'user_edit' from 'moya.auth' %}">
                  <i class="fa fa-toggle-on"></i> Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' from 'moya.auth' %}">
                  <i class="fa fa-sign-out"></i> Sign Out
                </a>

              </li>
            </ul>
        </li>
        {%- endif %}

        {% if not .user %}
        <li>
          <a href="{% url 'login' from 'moya.auth' %}?fwd=${.request.path}">
            <i class="fa fa-user"></i> Sign In
          </a>
        </li>
        {% endif %}

       </ul>

    </div><!-- /.navbar-collapse -->
