
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">

      {%- if .permissions.admin %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-wrench"></i> Admin
            <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              {%- for renderable in sections.admin_links %}
              {%- if renderable.url -%}
              <li>{% render renderable %}</li>
              {%- else %}
              <li class="divider"/>
              {%- endif %}
              {%- endfor %}
              {% if .apps.admin %}
              {%- if sections.admin_links %}
              <li class="divider"/>
              {%- endif %}
              <li><a href="{% url 'front' from 'admin' %}">Moya Admin</a></li>
              {% endif %}
            </ul>
        </li>
      {%- endif %}

        {#
        <li>
            <a href="#"><i class="fa fa-globe"></i> Discover</a>
        </li>
        #}

        {% if recent_news.exists %}
        <li{% if .url.app=='blog' %} class="active"{% endif %}> 
          <a href="{% url 'showpost' from 'moya.blog' with slug=recent_news.first.slug %}" title="Inthing news" data-toggle="tooltip" data-placement="bottom">
          News {% if new_news_count and .session.seen_news!='yes' %}<span class="badge bg-danger">${new_news_count}</span>{% endif %}
          </a>
        </li> 
        {% endif %}
        
        {%- if .user %}       
        <li{% if menu == 'subscriptions' %} class="active"{% endif %}>
            <a href="{% url 'user_subscriptions' from 'willmcgugan.timeline' with username=.user.username %}" title="Your stream subscriptions" data-toggle="tooltip" data-placement="bottom">
              {# <i class="fa fa-bookmark-o"></i> #} Subs
            </a>
        </li>
        <li{% if menu == 'user_streams' %} class="active"{% endif %}>
            <a href="{% url 'user_streams' from 'willmcgugan.timeline' with username=.user.username %}" title="Your streams" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user"></i> ${.user.username}
            </a>
        </li>
        {%- endif %}

        {% if not .user %}
        <li>
          <a class="sign-in-link" data-fwd="{% url 'home' %}" href="{% url 'login' from 'moya.auth' %}?fwd=${.request.path}">
            <i class="fa fa-user"></i> Sign In
          </a>
        </li>
        {% endif %}

       </ul>

    </div><!-- /.navbar-collapse -->
