<div class="card card-user">
    <div class="image image-plain"></div>
    <div class="content">
        <div class="author">
            <a href="#">
            <img class="avatar" src="{% media 'img/rpi2.png' %}" alt="...">

            <h4 class="title">${stream.title}<br>
               <small>Raspberry Pi</small>
            </h4>

            </a>
        </div>
        <p class="description text-center">
        	Live Streaming stuff!
        </p>
    </div>
    <div class="footer text-center">
        {% if .user %}
        <div data-stream="${stream.uuid}" {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
			<input class="btn btn-primary btn-subscribe" type="button" value="Subscribe" />
			<input class="btn btn-success btn-unsubscribe" type="button" value="Unsubscribe" />
		</div>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' from 'moya.auth' %}?${urlencode:(fwd=.request.url)}">Subscribe</a>
        {% endif %}
    </div>
</div>
