<div class="card">

    <div class="content">

        <span class="category pull-right">
            {% include "controls/subscribe.html" %}
        </span>
            
        <h4 class="text-center title">
            ${stream.title}
        </h4>
        
        <p class="description text-center">
            Live Streaming stuff!
        </p>

        {#
        <div class="text-center">
            {% if .user %}
            <div data-stream="${stream.uuid}" {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
                <input class="btn btn-round btn-primary btn-subscribe" type="button" value="Subscribe" title="click to subscribe" data-toggle="tooltip"/>
                <input class="btn btn-round btn-fill btn-success btn-unsubscribe" type="button" value="Subscribed" title="click to unsubscribe" data-toggle="tooltip"/>
            </div>
            {% else %}
            <a class="btn btn-primary" href="{% url 'login' from 'moya.auth' %}?${urlencode:(fwd=.request.url)}">Subscribe</a>
            {% endif %}
        </div>
        #}
        
    </div>
    
</div>
