{% extends "base.html" %}

{% block 'main' %}
{% for event in events %}
{% include "event.html" %}
{% endfor %}
{% endblock %}

{% block 'side' %}
<div class="stream-info">
	<h4>
		${stream.title}<br/>
		<small>@${stream.name}</small>
	</h4>
	{% inspect subscription %}
	<div {% attrib class=["subscribe-button", subscription ? 'subscribed' : 'unsubscribed'] %}>
		<input class="btn btn-primary btn-subscribe" type="button" value="Subscribe"/>
		<input class="btn btn-primary btn-unsubscribe" type="button" value="Unsubscribe"/>
	</div>
</div>
{% endblock %}
