{% extends "base.html" %}

{% block "title" %}${event.title}{% endblock %}

{% block "bodycontainer" %}

<div class="body-content">

    <div class="timelines event-view section section-gray">
    	<div class="container timeline-container">

    		<div class="row hidden-lg margin-bottom-20">
    			<div class="col-md-8 col-md-offset-2">
    				<div class="pull-right">
    					{% if previous_event %}
    					<a title="Previous event" data-placement="bottom" data-toggle="tooltip" class="previous-event" href="{% url 'event' with event_id=previous_event.uuid %}">
    						<i class="fa fa-chevron-left"></i>
    					</a>
    					{% endif %}
    					{% if next_event %}
    					<a title="Next event" data-placement="bottom" data-toggle="tooltip" class="next-event" href="{% url 'event' with event_id=next_event.uuid %}">
    						<i class="fa fa-chevron-right"></i>
    					</a>
    					{% endif %}
    				</div>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				{% render sections.event with new_event=yes %}
    			</div>
                <div class="col-md-2">
                    <div class="visible-lg-block">
                        {% if previous_event %}
                        <a title="Previous event" data-placement="bottom" data-toggle="tooltip" class="previous-event" href="{% url 'event' with event_id=previous_event.uuid %}">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        {% endif %}
                        {% if next_event %}
                        <a title="Next event" data-placement="bottom" data-toggle="tooltip" class="next-event" href="{% url 'event' with event_id=next_event.uuid %}">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
    		</div>

    	</div>
    </div>

    <div class="section section-gray" id="event-info">
    	<div class="container">
    		<div class="col-md-10 col-md-offset-1 text-muted">

        			<i class="fa fa-info-circle"></i> ${title:event.type} event &mdash;
                    {#
        			published
        			${localize:event.time}, #}
        			in <a href="{% url 'stream' with stream_id=event.stream.uuid %}">${event.stream.title}</a>

                <span class="pull-right">
                    <button class="btn btn-simple btn-social btn-twitter" title="Tweet this" data-toggle="tooltip">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button class="btn btn-simple btn-social btn-facebook" title="Share on Facebook" data-toggle="tooltip">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn btn-simple btn-social btn-reddit" title="Share on Reddit" data-toggle="tooltip">
                        <i class="fa fa-reddit"></i>
                    </button>
                </span>

    		</div>

    	</div>
    </div>

    <div class="section">
    	<div class="container">
    		<div class="col-md-10 col-md-offset-1">
    			{% render sections.comments %}
    		</div>
    	</div>
    </div>
</div>

{% endblock %}

{% block "js" append %}
<script type="text/javascript">
$(function(){
	$('.event').removeClass('new-event');
});
</script>
{% endblock %}